/*  welcome popup */
.welcome_popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    
}
.login{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.login section{
    max-width: 50%;
    text-align: right;
}